body {
  font-family: Arial, sans-serif;
  padding: 10px;
}

h1 {
  font-size: 20px;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

button {
  padding: 10px;
  background-color: #F55200;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #f55200ca;
}

.popup-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.flex-row {
  display: flex;
  gap: 4px;
}

.items-center {
  align-items: center;
}

.terms-input:hover, .terms-label:hover {
  cursor: pointer;
}